<div class="col-2 h-100 position-relative" style="background-color: rgb(255, 255, 255);">
    <!-- <div class="position-fixed w-100 h-100 bg-white" style="z-index: -1; left: 0;">
    
    </div> -->
    <div class="row w-100 mb-5 d-flex justify-content-center">
        <img  src="../../resources/logo.jpeg">
    </div>

    <div class="row w-100 d-flex justify-content-center">
        <div class="d-flex m-1 w-100 flex-row align-items-center">
            <i class="col-2 color-cinza-claro fa-solid fa-house"></i>
            <spans class="col-8 fs-5"><a href="/dashboard">Dashboard</a></spans>
        </div>
        <div class="d-flex m-1 w-100 flex-row align-items-center">
            <i class="col-2 color-cinza-claro fa-solid fa-copy"></i>
            <spans class="col-8 fs-5">Pedidos</spans>
        </div>
        <div class="d-flex m-1 w-100 flex-row align-items-center justify-content-end">
            <i class="col-2 color-cinza-claro fa-solid fa-file-circle-plus"></i>
            <spans class="col-8 fs-5"><a href="/pedido/novo">Novo pedido</a></spans>
        </div>
        <div class="d-flex m-1 w-100 flex-row align-items-center justify-content-end">
            <i class="col-2 color-cinza-claro fa-solid fa-list"></i>
            <spans class="col-8 fs-5"><a href="/pedido/listagem">Lista pedidos</a></spans>
        </div>
        <div class="d-flex m-1 w-100 flex-row align-items-center">
            <i class="col-2 color-cinza-claro fa-solid fa-shirt"></i>
            <spans class="col-8 fs-5">Referências</spans>
        </div>
        <div class="d-flex m-1 w-100 flex-row align-items-center justify-content-end">
            <i class="col-2 color-cinza-claro fa-solid fa-file-circle-plus"></i>
            <spans class="col-8 fs-5"><a>Nova ref.</a></spans>
        </div>
        <div class="d-flex m-1 w-100 flex-row align-items-center justify-content-end">
            <i class="col-2 color-cinza-claro fa-solid fa-list"></i>
            <spans class="col-8 fs-5"><a>Lista referência</a></spans>
        </div>
    </div>
</div>