@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;600&display=swap');

:root {
  --cor-cinza-claro: #A7B3BC;
  --cor-vermelho-claro: #f8c4c4;
  --cor-amarelo-claro: #f7f8c4;
}

* {
  box-sizing: border-box;
}



html {
  font-size: 85.5%;
}

.container_relative{
  position: relative;
}
/* Show the arrow and content and restore pointer events when hovering the trigger element */
.container_relative:hover .container_arrow,
.container_relative:hover .container_content {
    opacity: 1;
    pointer-events: initial;
}
.container_content{
    /* Invisible by default */
    opacity: 0;
    /* To prevent accidental interactions with other elements  */
    pointer-events: none;
    /* Background color, must be the same as the border color of arrow */
    background-color: #96baec;
    border-radius: 2px;
    /* Position */
    bottom: 100%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -8px);
    /* Displayed on top of other element */
    z-index: 10;
}
.container_arrow {
  /* Invisible by default */
  opacity: 0;

  /* To prevent accidental interactions with other elements  */
  pointer-events: none;

  /* Border */
  border: 8px solid transparent;
  border-top-color: #96baec;

  /* Position */
  bottom: 100%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, 8px);

  /* Zero size */
  height: 0;
  width: 0;

  /* Displayed on top of other element */
  z-index: 10;
}
.container_docker {
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(50%, -50%);
  background: #a1c9ee;
  width: auto !important;
  /* Center the content */
  align-items: center;
  display: flex;
  justify-content: center;
}

p input {
  border: none;
  display: inline;
  font-family: inherit;
  font-size: inherit;
  padding: none;
  width: auto;
}

a {
  font-size: 1 rem;
}

.border-5{
  border-radius: 20px;
}

.color-transp-forte{
  color: rgba(0, 0, 0, .35)
}
.p-45{
  padding: 2rem;
}
.bg-cinza-claro{
  background-color: var(--cor-cinza-claro);
}
.bg-vermelho-claro{
  background-color: var(--cor-vermelho-claro);
}
.bg-amarelo-claro{
  background-color: var(--cor-amarelo-claro);
}
.color-cinza-claro{
  color: var(--cor-cinza-claro);
}

.custom-body{
  font-family: 'Quicksand', sans-serif;
  background: #ece4f0;
}

.input-transp{
  background: transparent;
  border: none;
}

.bg-curvado {
  /* Background color */
  background-color: rgba(0, 0, 0, 0.3);

  /* You can use gradient background color such as
background: linear-gradient(rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.1) 100%); */

  /* Curved corners */
  border-bottom-left-radius: 80% 40%;
  border-bottom-right-radius: 80% 40%;

}

h1 {
  text-align:center;
  /* color: white; */
  
  font-size: 3.6 rem;
}

/* input {
  width: 100%;
  
  padding: 8px 16px;
  margin-bottom: 32px;
  
  border-radius: 16px;
  border: 1px solid #ccc;
  
  outline: none;
  
  font-size: 1.6rem;
  font-weight:300;
} */

ul {
  background: white;
  
  box-shadow: 0px 4px 8px -2px #00000033;
  border-radius: 6px;
  border: 1px solid #ddd;
  
  padding: 16px;
  
  font-size: 1.4rem;
  
}

li {
  list-style: none;
  
  display:flex;
  align-items: center;
  justify-content: space-between;
  
  border-bottom: 1px solid #ddd;
}


a {
  display: block;
  
  color: #333;
  text-decoration: none !important;  
  
}

a:hover {
  color: #333;
  font-weight: bold;
  cursor: pointer;
}
a:visited, a:active, a:link {
  color: #333;
  text-decoration: none;
}

li:first-child,
li:last-child {
  border: none;
}

li span {
  cursor:pointer;
}