<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js" integrity="sha512-QSkVNOCYLtj73J4hbmVoOV6KVZuMluZlioC+trLpewV8qMjsWqlIQvkn1KGX2StWvPMdWGBqim1xlC8krl1EKQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<div class="d-flex p-4 w-100 flex-row justify-content-around">
    <!-- card pedidos-->
    <div class="shadow-sm col-3 d-flex flex-column align-items-center border-5 bg-white p-3">
        <div class="rounded-circle p-4 bg-cinza-claro m-2">
            <i class="fa-xl fa-solid m-1 fa-copy color-transp-forte"></i>
        </div>
        <b class="fs-1 m-2">
            123
        </b>
        <span class="fs-5">
            Pedidos
        </span>
    </div>
    <!-- card referencais -->
    <div class="shadow-sm col-3 d-flex flex-column align-items-center border-5 bg-white p-3">
        <div class="rounded-circle p-4 bg-amarelo-claro ">
            <i class="fa-xl fa-solid m-1 fa-shirt color-transp-forte"></i>
        </div>
        <b class="fs-1 m-2">
            123
        </b>
        <span class="fs-5">
            Referências
        </span>
    </div>
    <!-- card Pendentes -->
    <div class="shadow-sm col-3 d-flex flex-column align-items-center border-5 bg-white p-3">
        <div class="rounded-circle p-4 bg-vermelho-claro m-2">
            <i class="fa-xl fa-solid m-1 fa-pause color-transp-forte"></i>
        </div>
        <b class="fs-1 m-2">
            10
        </b>
        <span class="fs-5">
            Pendentes
        </span>
    </div>
</div>
<div class="d-flex p-4 w-100 flex-row justify-content-around">
    <!-- card pedidos-->
    <div class="shadow-sm col-5 d-flex flex-column align-items-center border-5 bg-white p-3">
        <canvas id="myChart" width="100%" height="70"></canvas>
    </div>
    <!-- card referencais -->
    <div class="shadow-sm col-5 d-flex flex-column align-items-center border-5 bg-white p-3">
        <canvas id="chart_situacao_pedidos" width="100%" height="70"></canvas>
    </div>

</div>
<script>
    const ctx = document.getElementById('myChart').getContext('2d');
    const chart_situacao_pedidos = document.getElementById('chart_situacao_pedidos').getContext('2d');
    const myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['Centro-Oeste', 'Sudeste', 'Norte', 'Nordeste', 'Sul', 'Sudeste'],
            datasets: [{
                label: 'Pedidos por região',
                data: [12, 19, 3, 5, 2, 3],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
    
    const chart_situacao = new Chart(chart_situacao_pedidos, {
        type: 'pie',
        data: {
            labels: ['Aprovados', 'Pendentes', 'Cancelados'],
            datasets: [
                {
                label: 'Dataset 1',
                data: [10,5,3],
                backgroundColor: [
                    'rgba(2, 254, 0, 0.4)',
                    'rgba(254, 254, 0, 0.4)',
                    'rgba(255, 0, 0, 0.4)'
                ]
                }
            ]
            },
        options: {
            responsive: true,
            plugins: {
            legend: {
                position: 'top',
            },
            title: {
                display: true,
                text: 'situação dos Pedidos'
            }
            }
        }
    }
    )
    </script>