<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js" integrity="sha512-QSkVNOCYLtj73J4hbmVoOV6KVZuMluZlioC+trLpewV8qMjsWqlIQvkn1KGX2StWvPMdWGBqim1xlC8krl1EKQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<div class="d-flex p-5 w-100 flex-row justify-content-around">
    <!-- card pedidos-->
    <div class="col-3 d-flex flex-column align-items-center border-5 bg-white p-3">
        <div class="rounded-circle p-4 bg-cinza-claro m-2">
            <i class="fa-xl fa-solid m-1 fa-copy color-transp-forte"></i>
        </div>
        <b class="fs-1 m-2">
            123
        </b>
        <span class="fs-5">
            Pedidos
        </span>
    </div>
    <!-- card referencais -->
    <div class="col-3 d-flex flex-column align-items-center border-5 bg-white p-3">
        <div class="rounded-circle p-4 bg-amarelo-claro ">
            <i class="fa-xl fa-solid m-1 fa-shirt color-transp-forte"></i>
        </div>
        <b class="fs-1 m-2">
            123
        </b>
        <span class="fs-5">
            Referências
        </span>
    </div>
    <!-- card Pendentes -->
    <div class="col-3 d-flex flex-column align-items-center border-5 bg-white p-3">
        <div class="rounded-circle p-4 bg-vermelho-claro m-2">
            <i class="fa-xl fa-solid m-1 fa-pause color-transp-forte"></i>
        </div>
        <b class="fs-1 m-2">
            10
        </b>
        <span class="fs-5">
            Pendentes
        </span>
    </div>
    
</div>